$main: #0cebeb;
$secondary: #6952d2;
$accent: rgba(211, 24, 105, 1);
$white: #eff5ff;

//text-colours

$text-base: $secondary ;
$text-inverse: $white ;
$text-accent: $accent ;
$text-secondary: $main ;
$dark: #444;
