$main: #104AB6;
$secondary: #6952d2;
$light: #6E6B80;
$accent: #2EB5AB;
$comp-accent: #1096e0;
$white: #FFFFFF;
//text-colours
$text-base: $main;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $light;
$dark: #444;
$black: #343A40
