.nav-container {
   background: rgba(255,255,255,0.8);
   display: none;
   position: fixed;
   height: 100px;
   width: 100%;
   @media screen and (min-width: 600px) {
     & {
       display: block;
     }
   }
}



.main-nav {
  top: 35px;
  position: fixed;
  grid-row: 1;
  grid-column: 2;
  display: none;
  margin: 0;
  padding: 0;
  right:2%;
  @media screen and (min-width: 600px) {
    & {
      display: block;
    }
  }
}

.unstyled-list ul {
  padding: 0;
  margin: 0;
}

.unstyled-list li {
  display: inline-block;
  margin: 0 1em;
  list-style: none;

}

.unstyled-list a {
  text-decoration: none;
  color: $accent;
}
