.nav-container {
  background: rgba(255,255,255,0.8);
  visibility: hidden;
  position: fixed;
  height: 100px;
  width: 100%;
  @media screen and (min-width: 600px) {
    visibility: visible;
  }
}

.main-nav {
  top: 35px;
  position: fixed;
  grid-row: 1;
  grid-column: 2;
  display: none;
  margin: 0;
  padding: 0;
  right: 2%;
  transition: all ease-in-out 250ms;
  //************- Burger Menu Open -************//

  &.is-open {
    position: fixed;
    visibility: visible;
    display: block;
    background: $accent;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    border-left: 3px solid $white;

    ul {
      padding-top: 30%;
      width: 100%;
      text-align: center;
    }

    .unstyled-list li {
      display: block;
      width: 100%;
      text-align: center;
      padding-top: 30%;
      margin: 0;
      a {
        color: $white;
      &:hover {
          text-decoration: underline;
        }
        &:active, &:focus {
          color: $secondary;
        }
      }
    }
  }
  @media screen and (min-width: 600px) {
    display: block;
  }


.unstyled-list ul {
  padding: 0;
  margin: 0;
}

.unstyled-list li {
  display: inline-block;
  margin: 0 1em;
  list-style: none;
}

.unstyled-list a {
  text-decoration: none;
  color: $accent;
}
}

//************- Burger Menu -************//

.nav-toggle {
  cursor: pointer;
  display: none;
  padding: 1em;
  position: absolute;
  right: 2em;
  top: 1em;


@media screen and (max-width: 600px) {
    display: block;
  }
}

.hamburger, .hamburger::before, .hamburger::after {
  &:focus {
       background-color: $secondary;
     }
     content: '';
     width: 1.5em;
     height: 3px;
     position: absolute;
     border-radius: 5px;
     background-color: $white;
}
.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(6px);
}
