.main-nav {
  transition: all ease-in-out 250ms;
  background: $accent;
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  overflow: hidden;
  @media(min-width: 600px) {
    background: none;
    left: 0;
    flex: auto;
    margin-top: 3em;
    margin-left: .5em;
    margin-right: 4em;
  }

  ul {
    border-left: $white solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    @media(min-width: 600px) {
      border: none;
      flex-direction: row;
      height: auto;
    }
  }

  li {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0,0,0,.15);
    display: flex;
    @media(min-width: 600px) {
      display: inline-block;
      border: none;
      text-align: right;
    }
  }

  &:hover {
    @media(min-width: 600px) {
      background: none;
    }
  }

  .unstyled-list a {
    color: $white;
    text-decoration: none;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(min-width: 600px) {
      display: inline;
      justify-content: flex-end;
      // background-color: red;
      // border: solid 1px black;

      &:hover {
        color: $accent;
      }
    }
  }

  &.is-open {
    position: fixed;
    left: 40%;
  }
}
//************- Burger Menu Styling -************//

.nav-toggle {
  cursor: pointer;
  display: none;
  padding: 1em;
  position: fixed;
  right: 2em;
  top: 1em;
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.hamburger,
.hamburger::after,
.hamburger::before {
  &:focus {
    background-color: $secondary;
  }
  content: '';
  width: 1.5em;
  height: 3px;
  position: absolute;
  border-radius: 5px;
  background-color: $white;
  transition: all ease-in-out 250ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(6px);
}

.hamburger.is-open {
  transform: rotate(45deg);

  &::after {
    transform: rotate(-90deg);
  }

  &::before {
    opacity: 0;
  }
}

//************- Styling for Home anchor areas -************//
.blog, .contact, .work a {
  text-decoration: none;
}
