.portfolio {
  width: 100vw;
  display: grid;
  // grid-auto-rows: minmax(400px, auto);
  grid-template-areas:
  "header"
  "blog"
  "contact"
  "work";

  @media screen and (min-width: 500px) {
    & {
      grid-template-columns: 2fr auto;
      grid-template-areas:
      "main-nav main-nav"
      "header header"
      "blog contact"
      "work work";
    }
  }
  @media only screen and (min-width: 600px) {
    & {

      grid-template-columns: auto auto auto;
      grid-template-areas:
      "main-nav main-nav main-nav"
      "header header header"
      "blog blog contact"
      "work work work";
    }
  }
}


.header {
  text-align: center;
  grid-area: header;
  // background: $comp-accent;
  background-image: url("https://images.pexels.com/photos/131683/pexels-photo-131683.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15% 0;
  height: 30vh;
  @media screen and (min-width: 600px) {
    & {
      height: 100vh;
    }
  }
}

.header__container {
  display: inline-block;
  padding: 15px 40px 25px;
  text-align: center;
  @media only screen and (min-width: 600px) {
    & {
      padding: 80px 40px 40px;
    }
  }
}

.logo {
  display: none;
  @media screen and (min-width: 500px) {
    & {
      display: block;
      grid-area: logo;
      position: fixed;
      /* Set the navbar to fixed position */
      top: 3%;
      padding: 0.75em;
      left: 2%;
      border: 3px solid $accent;
    }
  }
}


.item {
  min-height: 500px;
  padding: 4em 3em;
}

.blog {
  grid-area: blog;
  background-image: url("https://images.unsplash.com/photo-1504542227056-9178533a9175?auto=format&fit=crop&w=1567&q=80/");
  background-size: cover;
  height: 30vh;
  @media screen and (min-width: 500px) {
    & {
      height: 100vh;
    }
  }
}
.contact {
  grid-area: contact;
  background-image: url("http://unsplash.it/800/600");
  background-size: cover;
}

.work {
  grid-area: work;
  background-image: url("http://unsplash.it/800/600");
  background-color: #B8B8B8;
  background-blend-mode: multiply;
  background-size: cover;
}
