
 body {
   background: $main;

 }


.header {
padding: 2em;
  display: grid;
grid-template-columns: 2fr 4fr;

grid-template-rows: 1fr 1fr;

}


.portfolio{
  padding: 0em 2em;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;

  grid-auto-rows: minmax(100px, auto);


}

.portfolio-item {
  background: $white;
  padding: 2em;
  border-radius: 3px;
}
