// .header {
//   border-bottom: 1px solid $dark;
//   padding: 1vh 20vh 1vh 20vh;
//   display: grid;
//   align-items: baseline;
//   grid-column-gap: 5vh;
//   @media screen and (min-width: 40em) {
//     & {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }

.header {
    grid-area: header;
  background-image: url("https://images.unsplash.com/photo-1511933801659-156d99ebea3e?auto=format&fit=crop&w=2734&q=80");
background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0 1rem;
  height: 30vh;
  @media screen and (min-width: 500px) {
    & {
      height:100vh;
    }
  }
}

.logo {
  display: none;
  @media screen and (min-width: 500px) {
    & {
      display: block;
      grid-area: logo;
      overflow: hidden;
      position: fixed;
      /* Set the navbar to fixed position */
      top: 2%;
      padding: 0.75em;
      border: 3px solid $accent;
    }
  }
}

.blog {
  grid-area: blog;
  background-image: url("https://images.unsplash.com/photo-1504542227056-9178533a9175?auto=format&fit=crop&w=1567&q=80/");
  background-size: cover;
  height: 30vh;
  @media screen and (min-width: 500px) {
    & {
      height:100vh;
}
}
}

.contact {
  grid-area: contact;
  background-image: url("//unsplash.it/800/600");
  background-color: #B8B8B8;
  background-blend-mode: multiply;
  background-size: cover;
}

.work {
  grid-area: work;
  background-image: url("//unsplash.it/800/600");
  background-color: #B8B8B8;
  background-blend-mode: multiply;
  background-size: cover;
}

.portfolio {

  width: 100vw;
  display: grid;
   // grid-auto-rows: minmax(400px, auto);
  grid-template-areas: "header" "blog" "contact" "work";
  grid-gap: 0;
  @media screen and (min-width: 500px) {
    & {
      grid-template-columns: 2fr auto;
      grid-template-areas: "header header" "blog contact" "work work";
    }
  }
  @media only screen and (min-width: 600px) {
    & {
      grid-gap: 2px;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "header header header" " blog contact contact" "work work work";
    }
  }
}

.box {
  padding: 2rem 5rem;
  @media screen and (min-width: 500px) {
    & {
      padding:  15rem 5rem;
    }
}
}

.item {
  min-height: 500px;
  padding: 10rem 7rem;
}
