@font-face {
  font-family: "YoungSerif";
  src: url("../../fonts/YoungSerif-master/fonts/webfonts/YoungSerif-Regular.eot");
  src: url("../../fonts/YoungSerif-master/fonts/webfonts/YoungSerif-Regular.woff") format("woff"), url("../../fonts/YoungSerif-master/fonts/YoungSerif-Regular.otf") format("opentype"),;
}
@font-face {
  font-family: "Lovelo Black";
  src: url("../../fonts/lovelo/Lovelo Black.otf");
}
//************-Defining Font Faces-************//


a,
h1,
h2,
p {

  font-family: 'Open Sans', sans-serif;
  letter-spacing: .5px;
  color: $accent;
}

,

h3,
h4,
h5,
h6 {

  font-family: 'Lovelo Black';
  letter-spacing: 1px;
  color: $text-base;
}
//************-Header-************//

h1.header__title {


  text-align: center;
  font-size: 2rem;
  @media screen and (min-width: 600px) {
    & {
      font-size: 6rem;
    }
  }
}

h3.header__subtitle {


  text-shadow: -2px 2px 0px #00e6e6;

  text-align: center;
  grid-column: 1;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  @media screen and (min-width: 600px) {
    & {
      font-size: 2rem;
    }
  }
}
//************-Items-************//

.item__title {
    text-shadow: -2px 2px 0px #00e6e6;
  font-size: 1.5rem;
  @media screen and (min-width: 600px) {
    & {
      font-size: 3rem;
    }
  }
}
//************-Paras and Anchors-************//

h2.logo {
  color: $accent;
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-family: 'YoungSerif';
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 0.75em;
  @media screen and (min-width: 600px) {
    & {
      font-size: 1.50rem;
    }
  }
}

a {
  font-size: 1rem;
  font-weight: 300;
  @media screen and (min-width: 600px) {
    & {
      font-size: 1.2rem;
    }
  }
}
