//************-Defining Font Faces-************//

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .5px;
  color: $black;
}



a,
p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .5px;
  color: $accent;
}

h2.logo {
  font-family: 'Bitter', serif;
}

h3,
h4,
h5,
h6 {
  font-family: 'Bitter', serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: $text-base;
}
//************-Header-************//

h1.header__title {


  text-align: left;
  font-size: 2rem;
  @media screen and (min-width: 600px) {
    & {
      font-size: 5rem;
    }
  }
}

h3.header__subtitle {
  text-align: left;
  grid-column: 1;
  font-size: .75rem;
  @media screen and (min-width: 600px) {
    & {
      font-size: 1.75rem;
    }
  }
}
//************-Items-************//

.item__title {
  font-size: 1.5rem;
  @media screen and (min-width: 600px) {
    & {
      font-size: 3rem;
    }
  }
}
//************-Paras and Anchors-************//

h2.logo {
  color: $accent;
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  line-height: 1.5;
  font-size: .90rem;
  margin-bottom: 0.75em;
  @media screen and (min-width: 600px) {
    & {
      font-size: 1.50rem;
    }
  }
}

a {
  font-size: 1rem;
  font-weight: 300;
  @media screen and (min-width: 600px) {
    & {
      font-size: 1.2rem;
    }
  }
}
