/* USAGE
.button {
  @include border-radius(5px);
}

.submit-button {
  @include border-top-radius(10px);
  @include border-right-radius(8px);
  @include border-bottom-radius(10px);
  @include border-left-radius (6px);
}
*/
/*@import "../layout/grid"; */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-size: 20px; }
  @media screen and (min-width: 600px) {
    html, body {
      font-size: 16px; } }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .5px;
  color: #343A40; }

a,
p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .5px; }

h2.logo {
  font-family: 'Open Sans', serif; }

h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #343A40; }

h1.header__title {
  background-color: #2EB5AB;
  padding: 0 1em 0 1em;
  font-size: 2rem; }
  @media screen and (min-width: 300px) {
    h1.header__title {
      font-size: 2.5rem; } }
  @media screen and (min-width: 600px) {
    h1.header__title {
      font-size: 5.5rem; } }

h3.header__subtitle {
  background-color: #343A40;
  color: #FFFFFF;
  margin: auto;
  padding: .4em 1em .4em 1em;
  text-align: right;
  grid-column: 1;
  font-size: .75rem; }
  @media screen and (min-width: 600px) {
    h3.header__subtitle {
      font-size: 1.75rem; } }

.item__title {
  background-color: #2EB5AB;
  padding: 0 .5em 1em 1em;
  font-size: 1.5rem; }
  @media screen and (min-width: 600px) {
    .item__title {
      font-size: 3rem; } }

h2.logo {
  color: #2EB5AB;
  font-size: .5rem;
  font-weight: 400; }
  @media screen and (min-width: 600px) {
    h2.logo {
      font-size: 2rem; } }

p {
  background-color: #343A40;
  color: #FFFFFF;
  margin: auto;
  padding: 1em 1em 1em 1em;
  line-height: 1.5;
  font-size: .90rem;
  margin-bottom: 0.75em; }
  @media screen and (min-width: 600px) {
    p {
      font-size: 1.50rem; } }

a {
  font-size: 1rem;
  font-weight: 300; }
  @media screen and (min-width: 600px) {
    a {
      font-size: 1.2rem; } }

.portfolio {
  width: 100vw;
  display: grid;
  grid-template-areas: "header" "blog" "contact" "work"; }
  @media screen and (min-width: 500px) {
    .portfolio {
      grid-template-columns: 2fr auto;
      grid-template-areas: "main-nav main-nav" "header header" "blog contact" "work work"; } }
  @media only screen and (min-width: 600px) {
    .portfolio {
      grid-template-columns: auto auto auto;
      grid-template-areas: "main-nav main-nav main-nav" "header header header" "blog contact contact" "work work work"; } }

.header {
  text-align: center;
  grid-area: header;
  background-image: url("../../img/bg/minimal-hipster-pattern/647.jpg");
  background-size: 120%;
  background-position: center;
  padding: 15% 0;
  height: 60vh; }
  @media screen and (min-width: 600px) {
    .header {
      padding: 10% 0;
      height: 120vh; } }

.header__container {
  display: inline-block;
  padding: 15px 40px 25px;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .header__container {
      padding: 80px 40px 40px; } }

.logo {
  display: none; }
  @media screen and (min-width: 500px) {
    .logo {
      display: block;
      position: fixed;
      top: 3%;
      padding: 0.75em;
      left: 2%;
      border: 3px solid #2EB5AB; } }

.item {
  min-height: 500px;
  padding: 2em 2em; }
  @media screen and (min-width: 500px) {
    .item {
      padding: 10em 2em; } }

.blog {
  grid-area: blog;
  background-image: url("https://images.unsplash.com/photo-1504542227056-9178533a9175?auto=format&fit=crop&w=1567&q=80/");
  background-size: cover;
  height: 60vh; }
  @media screen and (min-width: 500px) {
    .blog {
      height: 100vh; } }

.contact {
  grid-area: contact;
  background-image: url("http://unsplash.it/800/600");
  background-size: cover; }

.work {
  grid-area: work;
  background-image: url("../../img/pexels-photo-273238.jpeg");
  -o-object-fit: contain;
  object-fit: contain;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #B8B8B8;
  background-blend-mode: multiply; }
  @media screen and (min-width: 500px) {
    .work {
      height: 60vh; } }

.blog-page {
  width: 100vw;
  display: grid;
  grid-template-areas: "blog-post"; }
  @media screen and (min-width: 500px) {
    .blog-page {
      grid-template-columns: 2fr auto;
      grid-template-areas: "main-nav main-nav" "header header" "blog contact" "work work"; } }
  @media only screen and (min-width: 600px) {
    .blog-page {
      grid-template-columns: auto auto auto;
      grid-template-areas: "main-nav main-nav main-nav" "header header header" "blog contact contact" "work work work"; } }

.main-nav {
  -webkit-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  opacity: 0;
  background: #2EB5AB;
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  overflow: hidden; }
  @media (min-width: 600px) {
    .main-nav {
      opacity: 1;
      background: none;
      left: 0;
      -webkit-box-flex: 1;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      margin-top: 3em;
      margin-left: 10em;
      margin-right: 4em; } }
  .main-nav ul {
    border-left: #FFFFFF solid 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100vh; }
    @media (min-width: 600px) {
      .main-nav ul {
        border: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        height: auto; } }
  .main-nav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 600px) {
      .main-nav li {
        display: inline-block;
        border: none;
        text-align: right; } }
  @media (min-width: 600px) {
    .main-nav:hover {
      background: none; } }
  .main-nav .unstyled-list a {
    -webkit-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    opacity: 1;
    background-color: #343A40;
    color: #FFFFFF;
    margin: auto;
    padding: .4em 1em .4em 1em;
    text-decoration: none;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (min-width: 600px) {
      .main-nav .unstyled-list a {
        display: inline;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        .main-nav .unstyled-list a:hover {
          color: #2EB5AB; } }
  .main-nav.is-open {
    position: fixed;
    left: 40%;
    opacity: .98; }

.nav-toggle {
  cursor: pointer;
  display: none;
  padding: 1em;
  position: fixed;
  right: 2em;
  top: 1em; }
  @media screen and (max-width: 600px) {
    .nav-toggle {
      display: block; } }

.hamburger,
.hamburger::after,
.hamburger::before {
  content: '';
  width: 1.5em;
  height: 3px;
  position: absolute;
  border-radius: 5px;
  background-color: #2EB5AB;
  -webkit-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }
  .hamburger:focus,
  .hamburger::after:focus,
  .hamburger::before:focus {
    background-color: #6952d2; }

.hamburger::before {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.hamburger::after {
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  background-color: #2EB5AB; }

.hamburger.is-open {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #FFFFFF; }
  .hamburger.is-open::after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background: #FFFFFF; }
  .hamburger.is-open::before {
    opacity: 0; }

.blog, .contact, .work a {
  text-decoration: none; }

.img-profile {
  border-radius: 999em;
  border: 2px solid #104AB6;
  background: red; }
