/* USAGE
.button {
  @include border-radius(5px);
}

.submit-button {
  @include border-top-radius(10px);
  @include border-right-radius(8px);
  @include border-bottom-radius(10px);
  @include border-left-radius (6px);
}
*/
/*@import "../layout/grid"; */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'Nunito', sans-serif; }

h1.title {
  color: #eff5ff;
  text-transform: lowercase;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-spacing: -5px;
  display: inline;
  grid-column: 1;
  grid-row: 1; }

h2.title {
  color: #6E6B80;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  grid-column: 1; }

p {
  line-height: 1.5;
  font-size: 1rem; }

a {
  font-size: 1.5rem;
  font-weight: 300; }

body {
  background: #1E1D2B;
  font-size: 1em;
  line-height: 1.5; }
  @media (min-width: 64em) {
    body {
      font-size: 1.2em;
      line-height: 1.8; } }
  @media (min-width: 85.375em) {
    body {
      font-size: 1.3em; } }
  @media (min-width: 120em) {
    body {
      font-size: 1.4em; } }
  @media (min-width: 160em) {
    body {
      font-size: 1.6em; } }

.header {
  padding: 2em;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 1fr; }

.portfolio {
  padding: 0em 2em;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(100px, auto); }

.portfolio-item {
  background: #eff5ff;
  padding: 2em;
  border-radius: 3px; }

.main-nav {
  grid-row: 1;
  grid-column: 2; }

.unstyled-list ul {
  text-align: center;
  padding: 0; }

.unstyled-list li {
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 20px; }

.unstyled-list a {
  text-decoration: none;
  display: block;
  color: #eff5ff; }
